<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Quem somos</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}" />
    </head>
    <body>
        <!-- <strong>Hello there, {{ name }}!</strong> It's {{ date | date:"l, d F, Y" }} at {{ date | time:"H:i:s" }} -->
        <!-- <strong>Olá cliente!</strong> É um prazer tê-lo aqui, nós somos uma loja online de moda em geral! -->
        <span class="message">Olá cliente!</span> É um prazer tê-lo aqui, nós somos uma loja online de moda em geral!
    </body>
</html>
